.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #000;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  .title {
    font-size: 16px;
    font-family: "Russo One", sans-serif;
    // color: #000;
    font-weight: bold;
    text-transform: uppercase;

    button {
      all: unset;
    }
  }

  &:hover {
    background-color: #000;
    color: #fff;
    transform: scale(1.04);
  }
}
